      <div class="wrapper">
         <!-- Sidebar  -->
         <nav id="sidebar">
            <div class="sidebar-header">
               <button type="button" id="sidebarCollapse" class="btn btn-info">
               <i class="fas fa-align-left"></i>
               </button>
               <strong><i class="fas fa-home"></i></strong>
               <h3>SIMA-DILE</h3>
            </div>
            <center><a id="help_button" class="btn btn-secondary" onclick="startObjectsIntro();"><i class="fa fa-question-circle" aria-hidden="true"></i> Ayuda</a></center>
            <div class= 'span6' data-step='1' data-position='right' data-intro="<small><b>Capas Mapa</b><br>Ofrece las capas disponibles en el sistema para su visualización y análisis.</small>">
               <ul class="list-unstyled components">
                  <li id ="options" class="active">
                     <a href="#">
                     <i class="fas fa-globe-americas"></i>
                     Capas Mapa
                     </a>
                  </li>
               </ul>
            </div>
            <div id="mapa_ctrl">
               <!-- Begin Opciones visualizacion -->
               <div class= 'span6' data-step='2' data-position='right' data-intro="<small><b>Capas</b><br>Seleccione el tipo de capa que desee visualizar.</small>">
                  <center class='control_title'><strong class="control_title_strong">Capas</strong></center>
                  <div class="select-opt">
                     <div  class= 'span6' data-step='3' data-position='right' data-intro="<small><b>Earth Engine</b><br> 1. Seleccione el grupo de productos.<br>
                           2. Habilite el producto que desee visualizar/analizar.<br>
                           3. El detalle indica <span class='green_font'>en verde</span> el tipo de gráficos disponibles para el producto seleccionado. <br><img src='/www/img/help/charts_legend.png' alt='Leyenda graficos' class='img-thumbnail'></small>">
                        <span id ="layer_detail" class="charts-color"><i class="fas fa-layer-group"></i></span>
                        <label class="switch">
                        <input id = "layer_toggle" type="checkbox">
                        <span class="slider round"></span>
                        </label>
					   <span id="layer_caption"><small>Earth Engine</small></span>
					   <span id="layer_caption2"><small>Grupo de Productos</small></span>
					   <select class="form-control form-control-sm EO_products" id="EO_products" disabled>
						  <option name="Water Occurrence (1984-2015)" value="SWV">Agua Superficial</option>
						  <option name="Water Indexes" value="WI">Indices Remotos</option>
						  <option name="GFW Bosque" value="GFW">GFW Bosque</option>
					   </select>
					   <span id="layer_caption3"><small>Habilitar Productos</small></span>
					   <select class="form-control form-control-sm EOVisualizer" id="EOVisualizer" disabled></select>
					   <center class="graph_indicators"><i class="fas fa-chart-line flag_unselected" id="series_flag"></i> &bull; <i class="fas fa-chart-bar flag_unselected" id="histo_flag"></i> &bull; <i class="fas fa-chart-pie flag_unselected" id="pie_flag"> </i></center>
					</div>
                  </div>
                  <div class= 'span6' data-step='4' data-position='right' data-intro="<small><b>Otras capas</b><br> Ofrece la posibilidad de visualizar capas alternativas a Google Earth Engine. Contacte al administrador del sistema.</small>">
                     <div style="margin-top:15px;">
                        <span id ="custom_detail" class="charts-color"><i class="fas fa-user"></i></span>
                        <label class="switch">
                        <input id = "custom_toggle" type="checkbox">
                        <span class="slider round"></span>
                        </label>
                        <span id="custom_caption"><small>Otras Capas</small></span>
                        <select class="form-control form-control-sm User_products" id="User_products" disabled>
                        </select>
                     </div>
				  </div>
               </div>
               <div id="layer-options">
                  <hr>
                  <center class='control_title'><strong class="control_title_strong" >Fechas</strong></center>
                  <span class="date_Type_Radio">
                     <form id="date_type_radio_box">
                        <input type="radio" name="date_type_selector" value="single" checked > Unica
                        <input type="radio" name="date_type_selector" value="range" > Rango
                     </form>
                  </span>
                  <div id="slider-range"></div>
                  <small><span id="rangeValue"></span></small><br>
                  <select class="form-control form-control-sm" id="rangeAggregationTypeSelector" style="display:none;">
                     <option value="minimo">Minimo</option>
                     <option value="maximo">Maximo</option>
                     <option value="promedio">Promedio</option>
                     <option value="diferencia">Diferencia</option>
                  </select>
                  <button id="rangeApply" type="button" class="btn btn-info">Aplicar</button>
               </div>
               <div class= 'span6' data-step='5' data-position='right' data-intro="<small><b><i class='fas fa-eye'></i> Opacidad</b><br> Ofrece la posibilidad aumentar o disminuir la opacidad de la capa seleccionada.<br><b>
               <i class='fas fa-adjust'></i> Mostrar máscara</b><br>Se puede mostrar/ocultar la máscara sobre el producto seleccionado para facilitar su visualización.</small>">
                  <div>
                     <hr/>
                     <center class='control_title'><strong class="control_title_strong" >Ajustes</strong></center>
                     <span id ="opacity_detail" class="charts-color"><i class="fas fa-eye"></i></span><span id="opacity_caption"><small>Opacidad</small></span>
                     <input type="range" min="1" max='100' value="100" step="1" id="opacity_Selector"><br>
                     <div class="select-opt" id="masking_control" style="display:none;">
                        <span id ="masking_detail" class="charts-color"><i class="fas fa-adjust"></i></span>
                        <label class="switch">
                        <input id = "masking_toggle" type="checkbox">
                        <span class="slider round"></span>
                        </label>
                        <span id="masking_caption"><small>Mostrar mascara</small></span>
                     </div>
                  </div>
               </div>
               <hr>
            </div>
            <!-- Fin de controles -->

            <div id="menu_loading">
               <div class="spinner-overlay2 active">
                  <div class="spinner-content2 active">
                     <div class="loader" id="nav-bar_spinner"></div>
                  </div>
               </div>
            </div>

            <div class= 'span6' data-step='6' data-position='right' data-intro="<small><b>Análisis</b><br>Haga click en Análisis para ver las opciones disponibles.</small>">
               <ul class="list-unstyled components">
                  <li id ="analysis" class="active">
                     <a href="#">
                     <i class="fas fa-chart-area"></i>
                     Análisis
                     </a>
                  </li>
               </ul>
            </div>
            <div id="controles">
               <div class= 'span6' data-step='7' data-position='right' data-intro="<small><b>Herramientas </b><br>Selecciones la opción de análisis territorial que desee.</small>">
                  <center class='control_title'><strong class="control_title_strong" >Herramientas</strong></center>
                  <div class="select-opt" id="region_toggle_control">
                     <span id ="shape_detail" class="charts-color"><i class="fas fa-vector-square"></i></span>
                     <label class="switch">
                     <input id = "region_toggle" type="checkbox">
                     <span class="slider round"></span>
                     </label>
                     <span id="shape_caption"><small>Regiones</small></span>
                     <select class="form-control form-control-sm ShapeSelector" id="ShapeSelector" disabled>
                     </select>
                  </div>
                  <div class="select-opt" id="drawing_toggle_control">
                     <span id ="drawing_detail" class="charts-color"><i class="fas fa-draw-polygon"></i></span>
                     <label class="switch">
                     <input id = "drawing_toggle" type="checkbox">
                     <span class="slider round"></span>
                     </label>
                     <span id="drawing_caption"><small>Poligono</small></span>
                  </div>
                  <div class="select-opt" id="pixel_toggle_control">
                     <span id ="pixel_detail" class="charts-color"><i class="fas fa-mouse-pointer"></i></span>
                     <label class="switch">
                     <input id = "pixel_toggle" type="checkbox">
                     <span class="slider round"></span>
                     </label>
                     <span id="pixel_caption"><small>Pixel</small></span>
                  </div>
               </div>
               <hr>
               <div class= 'span6' data-step='8' data-position='right' data-intro="<small><b>Gráficos</b><br>Se habilitaran las opciones disponibles en la relación con la leyenda mostrada anteriormente en las capas de productos.
               <br><img src='/www/img/help/charts_legend.png' alt='Leyenda graficos' class='img-thumbnail'></small>">

                  <div class= 'span6' data-step='9' data-position='center' data-intro="<small><b>Mapa</b><br>Seleccione una region para su análisis en el mapa.</small>">


                     <div class= 'span6' data-step='10' data-position='center' data-intro="<small><b><i class='fas fa-chart-area'></i></b><br>Ofrece los graficos anteriormente activados en <i>Análisis</i> siempre y cuando esten disponibles para el producto seleccionado.<br><img src='/www/img/help/charts_legend.png' alt='Leyenda graficos' class='img-thumbnail'> </small>">
                        <center class='control_title'>
                           <strong class="control_title_strong" >Gráficos</strong>
                        </center>
                        <center class='control_title' id="no_hay_graficos" style="display:none">
                           <strong class="control_title_strong" >
                           <small>No hay gráficos disponibles para el producto seleccionado.</small>
                           </strong>
                        </center>
                        <div class="select-opt" id="pie_chart_control">
                           <span id ="pie_detail" class="charts-color">
                           <i class="fas fa-chart-pie"></i>
                           </span>
                           <label class="switch">
                           <input id = "pie_toggle" type="checkbox" />
                           <span class="slider round"></span>
                           </label>
                           <span id="pie_caption">
                           <small>Pie&nbsp;Chart</small>
                           </span>
                        </div>
                        <div class="select-opt" id="series_control">
                           <span id ="series_detail" class="charts-color"><i class="fas fa-chart-line"></i></span>
                           <label class="switch">
                           <input id = "serie_toggle" type="checkbox" >
                           <span class="slider round"></span>
                           </label>
                           <span id="series_caption"><small>Serie</small></span>
                        </div>
                        <div class="select-opt" id="histo_control">
                           <span id ="histo_detail" class="charts-color"><i class="fas fa-chart-bar"></i></span>
                           <label class="switch">
                           <input id = "histo_toggle" type="checkbox" >
                           <span class="slider round"></span>
                           </label>
                           <span id="histo_caption"><small>Histograma</small></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Fin de controles -->
         </nav>
         <!-- Page Content  -->
         <div id="content">
			<div class="maploading"  id="maploading"></div>
            <div class="map" id="map"></div>
            <!-- overlays-->

            <div class="overlays-div">
               <div class="controls-for-overlay">
                  <!--Creates the information content-->
                  <div class="controls-for-help">
                     <button class="close close_help"><i id="closeHelpIcon" class="fas fa-times"></i></button>
                     <button class="close open_analysis"><i class="fas fa-chart-area"></i></button>
                     <button class="close expand_help"><i class="fas fa-info-circle"></i></button>
                  </div>
               </div>
               <div class="spinner-overlay">
                  <div class="spinner-content">
                  </div>
               </div>
               <div class="help-overlay">
                  <!--Creates the information content-->
                  <h5><span id="EO_info_title"></span></h5>
                  <p class='p_custom'><span id="EO_info_desc"></span></p>
                  <br>
                  <p class='p_custom'><span id="EO_info_content"></span></p>
                  <hr>
                  <small><i><span id="EO_info_source"></span></i></small>
               </div>
               <div class="analysis-overlay">
                  <!--Creates the analysis content-->
                  <div class="analysis-content">
                     <div class="col-sm-12" id="region-wrapper-div">
                        <span class="white_font"><span id="region_selected"><i>Seleccione un area de estudio en la sección de Análisis</i></span><br></span>
                     </div>
                     <div class="col-sm-12" id="value-wrapper-div">
                        <span id="value-wrapper"></span>
                     </div>
                     <!-- PieChart visualization -->
                     <div class="col-sm-12" id="pie-chart-div">
                        <div class="col-sm-6">
                           <span id="pie-div"></span>
                        </div>
                     </div>
                     <!-- Series visualization -->
                     <div class="col-sm-12" id="series-div">
                        <hr>
                        <div class="col-sm-6">
                           <span id="series-wrapper"></span>
                        </div>
                     </div>
                     <!-- Histogram visualization -->
                     <div class="col-sm-12" id="histo-div">
                        <hr>
                        <div class="col-sm-6">
                           <span id="histo-wrapper"></span>
                        </div>
                     </div>
                     <hr>
                     <div id="polygon_detail_div">
                        <span id="polygon_caption"><small>Detalles Polígono</small></span><br>
                        <span id ="polygon_detail" class="charts-color"><i class="fas fa-vector-square"></i></span>
                        <label class="switch">
                        <input id = "polygon_detail_toggle" type="checkbox">
                        <span class="slider round"></span>
                        </label>
                        <table class="table table-striped" id="resultTable" ></table>
                     </div>
                  </div>
               </div>
            </div>
            <div class="legend-overlay"><span id="img-legend"></span></div>
         </div>
      </div>