/* RIGHT TOP OVERLAYS */
 .overlays-div{
     position:absolute;
     background-color: rgba(243, 243, 243,0.9);
     border:0px solid #666666;
/*     width:4%;
     height:8%;*/
     right: 0%;
     top: 1%;
     border-radius: 5px;
     overflow: auto;
     padding:20px;
}
 .overlays-div.active{
     display:block;
     width:35%;
     height:60%;
}
 .controls-for-overlay{
     width:100%;
     height:40px;
}
 .analysis-overlay{
    /*Hides pop-up when there is no "active" class*/
     display:block;
     height:0%;
}
 .analysis-overlay.active{
    /*displays pop-up when "active" class is present*/
     display:block;
     text-align:center;
     height:100%;
}
 .analysis-content {
    /*Hides pop-up content when there is no "active" class */
     display:none;
     height:0%;
}
 .analysis-content.active {
    /*Shows pop-up content when "active" class is present */
     display:block;
     height:100%;
}
 .minimize_analysis{
     display: none;
}
 .help-overlay{
    /*Hides pop-up when there is no "active" class*/
     display: none;
}
 .help-overlay.active{
     display:block;
}
 .help-content {
    /*Hides pop-up content when there is no "active" class */
     display: none;
}
 .help-content.active {
    /*Shows pop-up content when "active" class is present */
     display:block;
}
 .expand_help{
     display: none;
}
/* END RIGHT TOP OVERLAYS */
/* LEGEND OVERLAY (BOTTOM RIGHT) */
 .legend-overlay{
    /*Hides pop-up when there is no "active" class*/
     visibility:visible;
     position:absolute;
     background-color: rgba(245, 245, 245,0.9);
     border:0px solid #666666;
     right:2%;
     bottom:2%;
     border-radius: 5px;
     overflow: auto;
     max-height: 80%;
}
 .legend-overlay.active{
    /*displays pop-up when "active" class is present*/
     visibility:visible;
     text-align:center;
}
 .legend-content {
    /*Hides pop-up content when there is no "active" class */
     visibility:hidden;
}
 .legend-content.active {
    /*Shows pop-up content when "active" class is present */
     visibility:visible;
}
 #img-legend img {
     width: 250px;
     padding: 5px;
}
/* END LEGEND OVERLAY (BOTTOM RIGHT) */
 #content {
     width: 100%;
     padding: 0px;
     min-height: 100vh;
     transition: all 0.3s;
}
 #menu_loading{
     color: black;
     text-align: center;
    /*width: 13%;
    */
     height: 100%;
     background-color: rgba(255,255,255,0.9);
     z-index: 10;
    /*padding-top: 10%;
    */
     position: absolute;
    /* padding-top: 0%;
     */
     top: 0;
     display:none;
     min-width: 280px;
     max-width: 280px;
}
 .spinner-overlay{
    /*Hides pop-up when there is no "active" class*/
     visibility:hidden;
     position:absolute;
     background-color: rgba(255,255,255,0.0);
     border:0px solid #666666;
     width:100%;
     height:100%;
     right:0;
     top:0%;
     border-radius: 0px;
}
 .spinner-overlay.active{
    /*displays pop-up when "active" class is present*/
     visibility:visible;
     text-align:center;
}
 .spinner-content {
    /*Hides pop-up content when there is no "active" class */
     visibility:hidden;
}
 .spinner-content.active {
    /*Shows pop-up content when "active" class is present */
     visibility:visible;
}
 .spinner-img{
     vertical-align: middle;
}
 .spinner-overlay{
    /*Hides pop-up when there is no "active" class*/
     visibility:hidden;
     position:absolute;
     background-color: rgba(255,255,255,0.0);
     border:0px solid #666666;
     width:100%;
     height:100%;
     right:0;
     top:0%;
     border-radius: 0px;
}
 .spinner-overlay.active{
    /*displays pop-up when "active" class is present*/
     visibility:visible;
     text-align:center;
}
 .spinner-content {
    /*Hides pop-up content when there is no "active" class */
     visibility:hidden;
}
 .spinner-content.active {
    /*Shows pop-up content when "active" class is present */
     visibility:visible;
}
 .spinner-img{
     vertical-align: middle;
}
 .cn {
     display: table-cell;
     width: 500px;
     height: 500px;
     vertical-align: middle;
     text-align: center;
}
 .inner {
     display: inline-block;
     width: 200px;
     height: 200px;
}
 #nav-bar_spinner{
     text-align:center;
     display: inline-block;
     margin-top: 10%;
}
 .spinner-overlay2{
    /*Hides pop-up when there is no "active" class*/
     visibility:hidden;
     position:absolute;
     background-color: rgba(255,255,255,0.0);
     border:0px solid #666666;
     width:100%;
     height:100%;
     right:0;
     top:0%;
     border-radius: 0px;
}
 .spinner-overlay2.active{
    /*displays pop-up when "active" class is present*/
     visibility:visible;
     display: table-cell;
     vertical-align: middle;
     text-align: center;
}
 .spinner-content2 {
    /*Hides pop-up content when there is no "active" class */
     visibility:hidden;
}
 .spinner-content2.active {
    /*Shows pop-up content when "active" class is present */
     visibility:visible;
}

 .spinner-overlay3{
    /*Hides pop-up when there is no "active" class*/
     visibility:hidden;
     position:absolute;
     background-color: rgba(255,255,255,0.0);
     border:0px solid #666666;
     width:100%;
     height:100%;
     right:0;
     top:0%;
     border-radius: 0px;
}
 .spinner-overlay3.active{
    /*displays pop-up when "active" class is present*/
     visibility:visible;
     display: table-cell;
     vertical-align: middle;
     text-align: center;
}
 .spinner-content3 {
	 width:100%;
     height:100%;
    /*Hides pop-up content when there is no "active" class */
     visibility:hidden;
}
 .spinner-content3.active {
    /*Shows pop-up content when "active" class is present */
     visibility:visible;
}

 .spinner-img{
     vertical-align: middle;
}
 #rangeApply{
     margin-top:2rem;
}
 #value-wrapper-div{
    margin-top: 5px;
    text-align: left;
}
 #region-wrapper-div{
    text-align: left;
}
 .table-width{
     width: 50%;
}
 .p_custom{
     color:#2b2b2b;
     font-size: 14px;
}
 .close{
     padding: 10px;
     margin: 10px;
}
 .map{
     height: 100%;
    /*height:calc(100vh - 150px);
    */
     width: 100%;
}
 #sidebar{
	 overflow-y:auto;
	 height:700px;
 }
 #sidebar small{
     color: #2b2b2b;
}
 #sidebarCollapse{
     background-color: #fafafa;
     color: #2b2b2b;
}
 .select-opt{
     padding: 5px;
}
 #spinner{
     display: none;
}
 #controles{
     display: none;
}
 #date_caption{
     padding-left:5px;
}
 #opacity_caption{
     padding-left:5px;
}
 #slider-range {
     width: 90%;
     margin-left: 5%;
}
 .control_title_strong {
     color:black;
     font-weight: normal;
     padding-bottom:15px;
}
 .control_title {
     padding-bottom:15px;
}
 .graph_indicators{
     padding-top:8px;
     padding-bottom:0px;
}
 .str_small{
     font-size: 12px;
}
 .close_analysis{
     z-index: 9999;
}
 .minimize_analysis{
     z-index: 9999;
}
 .font-size14{
     font-size: 14px;
}
 .switch {
     position: relative;
     display: inline-block;
     width: 46px;
     height: 26px;
}
 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
}
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
}
 .slider:before {
     position: absolute;
     content: "";
     height: 18px;
     width: 18px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
}
 .help-overlay h5{
     padding-top:20px;
}
 .date_Type_Radio{
     color:black;
     font-family: 'Poppins', sans-serif;
     font-size:12px;
}
 input:checked + .slider {
     background-color: #17a2b8;
}
 input:focus + .slider {
     box-shadow: 0 0 1px #17a2b8;
}
 input:checked + .slider:before {
     -webkit-transform: translateX(18px);
     -ms-transform: translateX(18px);
     transform: translateX(18px);
}
/* Rounded sliders */
 .slider.round {
     border-radius: 34px;
}
 .slider.round:before {
     border-radius: 50%;
}
 .charts-color {
     color:#2b2b2b;
}
 .white_font {
     /*padding-top: 20px;
     padding-bottom: 20px;*/
     max-width: 25rem;
     /*font-size:24px;*/
}
 .loader {
     border: 16px solid #f3f3f3;
     border-radius: 50%;
     border-top: 16px solid #3498db;
     width: 120px;
     height: 120px;
     -webkit-animation: spin 2s linear infinite;
    /* Safari */
     animation: spin 2s linear infinite;
}
 .maploader {
     border: 24px solid #f3f3f3;
     border-top: 24px solid #3498db;
     width: 100%;
     height: 100%;
     -webkit-animation: spin 2s linear infinite;
    /* Safari */
     animation: spin 2s linear infinite;
}
/* Safari */
 @-webkit-keyframes spin {
     0% {
         -webkit-transform: rotate(0deg);
    }
     100% {
         -webkit-transform: rotate(360deg);
    }
}
 @keyframes spin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}
 #layer-options{
     display: none;
}
 #reversedRange, #opacity_Selector{
     width:100%;
}
 #ShapeSelector{
}
 .ui-widget-header {
     background: #17a2b8;
}
 .flag_unselected{
     color:#c3bdbd;
}
 .flag_selected{
     color:green;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

.introjs-helperNumberLayer {
    top:-30px;
    left: 5px;
}
.green_font{
    color:green;
}

#help_button{
    margin-top: 1rem;
}


.maploading {
	position: fixed;
	margin:20px;
	width: 100%;
	height: 0px;
	background: linear-gradient(0deg, #000, #fafafa);
	z-index:99;
	
}
.maploading:before, .maploading:after {
	content: '';
	position: absolute;
	left: -20px;
	top: -20px;
	background: linear-gradient(45deg, #17a2b8,#61C5D3, #2950C3,#6F8ADA,#17a2b8);
	background-size: 400%;
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.maploading:after {
	filter: blur(100px);
}
